:root {
  --dark-primary: #16213e;
  --primary: #0f3460;
  --light-primary: #0e86d4;
  --lightest-primary: #68bbe3;
  --hot-pink: #ff0080;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  color: #666;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  list-style: none;
}

.form-section-inner {
  float: left;
  width: 100%;
  padding: 50px 20px;
  box-shadow: 0 2px 5px 1px rgba(64,60,67,.16);
}
  
.form-section-inner .form-submit{
  float:right;
}

.form-group label {
  margin-bottom: 4px;
  color: #41464b;
}

.form-group {
  margin-bottom: 15px;
}

.form-group.form-radio-btn {
  margin-top: 30px;
}

.form-group.form-radio-btn label {
  padding-right: 10px;
}
.form-group.form-radio-btn input {
  margin-right: 3px;
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
